<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <span>Titre CICO</span>
        <a class="button" href='{% url "index" %}'>Accueil</a>
        <a class="button" href='{% url "status" %}'>Connexion</a>
        <a class="button" href='{% url "status" %}'>FaQ</a>
        <a class="button" href='{% url "status" %}'>Contact</a>

    </div>
    {% block content %}{% endblock %}
</body>
</html>