{% extends "base.html" %}{% block title %}Commande{% endblock title %} {% load static %} {% block content %}
<div class="container-fluid d-inline">
  <div class="row g-0 d-inline d-md-inline d-lg-flex d-xl-flex d-xxl-flex">
    <div class="col-lg-7 col-xl-7 col-xxl-7 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block"
      style="padding: 0px">
      <img class="img-fluid" src="{% static 'CICO/img/pexels-nishant-aneja-2361952.jpg' %}" height="50%" width="100%" />
    </div>
    <div class="col-lg-5 col-xl-5 col-xxl-5 offset-xl-0 offset-xxl-0 text-center align-self-center">
      <div class="row g-0">
        <div class="col" style="height: 87px">
          <div class="card" style="margin-top: 10px">
            <div class="card-img-overlay text-center" style="
                background: #7889e4;
                color: var(--bs-body-bg);
                height: 64px;
                margin-right: 12px;
                margin-left: 12px;
              ">
              <h4 class="text-center">Réserver</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="col" style="margin-left: 15px; margin-right: 15px">
          <form>
            <input class="form-control-plaintext" type="text" value="Nom" readonly="" /><input class="form-control"
              type="text" /><input class="form-control-plaintext" type="text" value="Email" readonly="" /><input
              class="form-control" type="email" required="" /><input class="form-control-plaintext" type="text"
              value="Quantité" readonly="" /><input class="form-control" type="number" min="0" max="10" required=""
              data-bs-theme="light" /><input class="form-control-plaintext" type="text" value="Calendrier"
              readonly="" /><input class="form-control" type="date" /><input
              class="btn border rounded btn-primary d-block mx-auto" type="submit"
              style="margin-top: 10px; text-align: center; margin-bottom: 10px" data-bs-theme="light" required="" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}