{% extends "baseProfil.html" %}{% block title %}Acceuil Profil{% endblock title %} {% load static %} {% block content %}

<div class="text-center border rounded-0 shadow-sm mx-auto profile-box" style="
    width: 318px;
    height: 182px;
    background-color: #ffffff;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  ">
    <span class="bs-icon-sm d-flex justify-content-center align-items-center ms-auto me-2 bs-icon"
        style="color: rgb(27, 52, 89)"><a href="#"><i class="fas fa-cog"
                style="color: var(--bs-body-color)"></i></a></span>
    <div style="
      height: 50px;
      background-color: rgba(54, 162, 177, 0);
      background-image: url('{% static 'CICO/img/bg-pattern.png' %}');
    "></div>

    <div class="my-auto">
        <img class="rounded-circle" src="{% static 'CICO/img/bg-cta.jpg' %}" width="60px" height="60px"
            style="background-color: rgb(255, 255, 255); padding: 2px" />
    </div>
    <div class="my-auto" style="height: 80px">
        <h4>{{user}}</h4>
        <p style="font-size: 12px">el {{user}}</p>
    </div>
</div>

</div>
<div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>
            <button
              class="btn d-flex my-auto justify-content-xl-start"
              type="button"
              data-bs-target="#modal-1"
              data-bs-toggle="modal"
              style="width: 100%"
            >
              <i class="fas fa-plus fs-4" style="margin-right: 10px"></i>Ajouter
              un nouveau chat
            </button>
          </th>
        </tr>
      </thead>
      <tbody id="catList">

        <!-- Cats will be added here by the legend -->



      </tbody>
    </table>


    <div>
        <form  action="" method="post" style="float:left">
            {% csrf_token %}
            <input type="date" name="bouton" value="{{ date }}" onchange="this.parentNode.submit();">
            <input type="submit" name="bouton" value="Annuler">
        </form>
    </div>
    <table class="table table-striped table-hover table-bordered" id="tableRecords">
      <thead>
        <tr>
            <th>Historique</th>
        </tr>
      </thead>
      <tbody>


      {% for record in recordList  %}

        <tr id=row_{{forloop.counter}}>
          <td>
              <button class="btn d-flex my-auto justify-content-xl-start" type="button" data-bs-target="#modal-record" data-bs-toggle="modal" style="width: 100%" onclick="selectedCat= '{{  record.image }}'; showSelectedCat() ">
                  {{record.catName}}
              </button>
          </td>
          <td>{{record.event}}</td>
          <td>{{record.time}}</td>
        </tr>



      {% endfor %}

      </tbody>
    </table>

        <div>
            <form action="" method="post" style="float:left">
                {% csrf_token %}
                <input type="hidden" name="bouton" value="récent" />
                <a href="#" onclick="this.parentNode.submit();">
                    <button>récent</button>
                </a>
            </form>

            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="bouton" value="ancien" />
                <a href="#" onclick="this.parentNode.submit();">
                    <button>ancien</button>
                </a>
            </form>
        </div>

    </div>
</div>

<h2>US PERSO GRAPHIQUES</h2>
<div style =  'display : flex;'>
    <div style = 'width: 50%; padding: 20px;'>
        <canvas id="EntreesCat" style="width:100%;max-width:700px"></canvas>
    </div>
    <div style = 'width: 50%; padding: 20px;'>
        <canvas id="SortiesCat" style="width:100%;max-width:700px"></canvas>
    </div>
</div>    

<script>
    var xValues = {{ xValues|safe }};
    var barColors = {{ barColors|safe }};
    var catData = {{ cat_data|safe }};

    var entrees = Object.keys(catData).map(function (key, index) {
        return {
            label: key,
            backgroundColor: barColors[index % barColors.length],
            data: catData[key]['entrees'],  // Utilisez directement les entrées
        };
    });

    var sorties = Object.keys(catData).map(function (key, index) {
        return {
            label: key,
            backgroundColor: barColors[index % barColors.length],
            data: catData[key]['sorties'],
        };
    });

    new Chart("EntreesCat", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: entrees,
        },
        options: {
            scales: {
                xAxes: [{
                    stacked: false,
                    barPercentage: 0.8,  
                }],
                yAxes: [{
                    stacked: false,
                    ticks: {
                        beginAtZero: true,
                    },
                }],
            },
            title: {
                display: true,
                text: "Entrées de mes chats",
            },
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, data) {
                        var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
                        var dataIndex = tooltipItem.index;
                        var entrees = catData[datasetLabel]['entrees'][dataIndex];
                        return datasetLabel + ' : ' + entrees + ' entrées ';
                    }
                }
            },
        },
    });

    new Chart("SortiesCat", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: sorties,
        },
        options: {
            scales: {
                xAxes: [{
                    stacked: false,
                    barPercentage: 0.8,  
                }],
                yAxes: [{
                    stacked: false,  
                    ticks: {
                        beginAtZero: true,
                    },
                }],
            },
            title: {
                display: true,
                text: "Sorties de mes chats",
            },
            tooltips: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, data) {
                        var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
                        var dataIndex = tooltipItem.index;
                        var sorties = catData[datasetLabel]['sorties'][dataIndex];
                        return datasetLabel + ' : ' + sorties + ' sorties ';
                    }
                }
            },
        },
    });


</script>


<div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><i class="fas fa-cat fs-1" style="margin-right: 10px;"></i>
                <h4 class="modal-title">Ajouter un nouveau chat</h4><button class="btn-close" type="button"
                    aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="addCatForm" enctype="multipart/form-data" method="post" action="{% url 'add_cat' %}">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row flex-md-column flex-lg-column flex-xl-row">
                            <div class="col">
                                <div class="row row-cols-3">
                                    <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto align-self-center m-auto"
                                        style="margin: 15px;">
                                        <p class="text-center bg-body-secondary border rounded">Choisir une photo de
                                            face
                                        </p><img id="imgFrontPreview" class="border rounded d-flex m-auto" width="100%"
                                            height="200" src="{% static 'CICO/img/silhouette%20face.jpg' %}"><input
                                            id="imgFrontInput" name="image" type="file"
                                            style="margin-top: 15px;width: 100%;" required="" accept="image/*"
                                            onchange="updateImagePreview(this, 'imgFrontPreview')">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-auto col-auto align-self-xl-center align-self-xxl-center"><input
                                    id="catName" class="border rounded-pill form-control-lg d-flex" type="text"
                                    name="name" placeholder="Nom"
                                    style="width: 100%;margin-top: 15px;margin-bottom: 15px;" required="">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer"><button class="btn btn-light border rounded-pill" type="button"
                    data-bs-dismiss="modal">Annuler</button><button class="btn btn-primary border rounded-pill"
                    type="submit">Ajouter</button>
            </div>
            </form>

        </div>
    </div>
</div>


<!-- Cat Details Modal -->
<div class="modal" role="dialog" tabindex="-1" id="catDetailsModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Détails du chat</h5>
                <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 id="catNameModal"></h2>
                <img id="catImageModal" src="" alt="Cat image" style="max-width: 100%;">
            </div>
            <div class="modal-footer">
                <button class="btn btn-light border rounded-pill" type="button" data-bs-dismiss="modal">Annuler</button>
                <button id="modifyCatBtn" class="btn btn-primary rounded-pill">Modifier</button>
                <button class="btn btn-danger border rounded-pill deleteCatBtn" type="submit">Supprimer
                    chat</button>
            </div>
        </div>
    </div>
</div>

<!-- Modify Cat Modal -->
<div class="modal fade" id="modifyCatModal" tabindex="-1" role="dialog" aria-labelledby="modifyCatModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyCatModalLabel">Modifier les informations du chat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modifyCatForm" enctype="multipart/form-data" method="PUT">
                    {% csrf_token %}
                    <input type="text" id="editCatName" name="name" class="form-control" placeholder="New Cat Name">
                    <input type="file" id="editCatImage" style="margin-top: 15px;width: 100%;" required=""
                        accept="image/*" class="form-control mt-2">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary rounded-pill" id="submitModifyCat">Sauvegarder</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" role="dialog" tabindex="-1" id="modal-record">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="container">

                    <div class="row flex-md-column flex-lg-column flex-xl-row">
                        <div class="col">
                            <div class="row row-cols-3">
                                <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto align-self-center m-auto"
                                    style="margin: 15px;">
                                    <img id="selectedCatDisplay" class="border rounded d-flex m-auto" width="100%"
                                        height="200" src="{% static 'CICO/img/silhouette%20face.jpg' %}">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>


<div id="toastContainer" class="toast-container position-fixed top-0 start-50 translate-middle-x p-3"
    style="z-index: 11;">
    <div id="successToast" class="toast align-items-center text-white bg-success border-0" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Le chat a été ajouté avec succès
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="errorToast" class="toast align-items-center text-white bg-danger border-0" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                There was an error adding the cat. Please try again.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#modal-1').on('hidden.bs.modal', function () {
        $(this).find('form').trigger('reset');
        // Reset image preview to default image
        $('#imgFrontPreview').attr('src', "{% static 'CICO/img/silhouette%20face.jpg' %}");
    });
</script>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function submitAddCatForm() {
        $("#addCatForm").submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                type: 'POST',
                url: '/CICO/add_cat/',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,

                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest'
                },
                success: handleAddCatSuccess,
                error: handleAddCatError
            });
        });
    }

    function handleAddCatSuccess(response) {
        console.log(response.catsAndStatus)
        if (response.success) {

            appendCatRow(response.catsAndStatus);
            showToast('successToast');
            closeModal('modal-1');
        } else {
            showToast('errorToast');
            return ('Error submitting form:', JSON.stringify(response.errors));
        }
    }

    function handleAddCatError(response) {
        if (response.responseText) {
            const errors = response.responseText;
            if (response.responseText) {
                showToast('errorToast');
                closeModal('modal-1');

                return ("A cat with this name already exists for this user", errors)

            }
        }
        showToast('errorToast');
    }


    function appendCatRow(cats) {
        var catRow = '<tr><td><button class="btn d-flex my-auto justify-content-xl-start cat-btn" data-cat-id="' + cats[1].replace(/-/g, '') + '" type="button" style="width: 100%;">' + cats[0] + ', état: ' + cats[2] + '<i class="fas fa-cat fs-4" style="margin-left: 10px;"></i></button></td></tr>';

        $('#catList').append(catRow);
    }


    function showToast(toastId) {
        var toast = new bootstrap.Toast(document.getElementById(toastId));
        toast.show();
    }

    function closeModal(modalId) {
        var modal = bootstrap.Modal.getInstance(document.getElementById(modalId));
        modal.hide();
    }
</script>

<script>

    let selectedCat = ""
    function showSelectedCat(){
        console.log(selectedCat)
        $('#selectedCatDisplay').attr('src', './media/' + selectedCat);
        //document.getElementById("selectedCatDisplay").innerHTML = selectedCat
    }

</script>

<script>
    function loadCats() {
        $.ajax({
            url: '/CICO/get_cats/',
            type: 'GET',
            success: function (cats) {
                cats.forEach(appendCatRow);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching user cats:', error);
            }
        });
    }

    $(document).ready(function () {
        loadCats();
        submitAddCatForm();
    });
</script>

<script>
    $(document).on('click', '.cat-btn', function () {
        let catId = $(this).data('catId');
        fetchAndDisplayCatDetails(catId);
    });

    function fetchAndDisplayCatDetails(catId) {

        var formattedCatId = catId.replace(/-/g, '');

        $.ajax({
            type: 'GET',
            url: '/CICO/get_cat_details/' + catId,  // URL to your Django view that returns cat details
            success: function (response) {
                $('#catNameModal').text(response.name);
                $('#catDetailsModal').attr('data-cat-id', catId);
                $('#catImageModal').attr('src', '.' + response.image_url); // Adjust according to the response
                $('#catDetailsModal').modal('show');
            },
            error: function (error) {
                return ("Error fetching cat details: ", error);
            }
        });
    }
</script>
<script>
    $(document).on('click', '.deleteCatBtn', function () {
        var catId = $('#catDetailsModal').data('cat-id');
        var formattedCatId = catId.replace(/-/g, '');
        if (confirm('Are you sure you want to delete this cat?')) {
            deleteCat(catId);
        }
    });

    function deleteCat(catId) {
        var formattedCatId = catId.replace(/-/g, '');

        $.ajax({
            type: 'DELETE',
            url: '/CICO/delete_cat/' + catId,
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),  // Make sure to include CSRF token
                'X-Requested-With': 'XMLHttpRequest'

            },
            success: function (response) {
                // Handle success (e.g., close modal, remove cat from list, show message)
                $('#catDetailsModal').modal('hide');
                $('button[data-cat-id="' + catId + '"]').closest('tr').remove(); // Remove cat from list
                alert('Cat deleted successfully');
            },
            error: function (error) {
                // Handle error
                return ('Error deleting cat:', error);
            }
        });
    }
</script>
<script>
    $(document).on('click', '#modifyCatBtn', function () {
        var catId = $('#catDetailsModal').data('cat-id');
        var catName = $(this).data('cat-name');
        // Set the catId and current name in the modify modal
        $('#modifyCatModal').find('#editCatName').val(catName);
        $('#modifyCatModal').find('#submitModifyCat').data('cat-id', catId);
        $('#catDetailsModal').modal('hide').click();

        // Show the modify cat modal
        $('#modifyCatModal').modal('show');

    });

    $(document).on('click', '#submitModifyCat', function () {
        var catId = $(this).data('cat-id');
        var newName = $('#editCatName').val();
        var newImage = $('#editCatImage')[0].files[0];

        var formData = new FormData();
        formData.append('name', newName);
        if (newImage) {
            formData.append('image', newImage);
        }

        $.ajax({
            type: 'POST',
            url: '/CICO/modify_cat/' + catId + '/',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'X-Requested-With': 'XMLHttpRequest'

            },
            success: function (response) {
                if (response.success) {
                    // Update UI accordingly
                    var updatedCat = {
                        catId: response.catId,
                        name: response.newName
                    };

                    // Update the cat row
                    updateCatRow(updatedCat);

                    $('#modifyCatModal').modal('hide');
                    alert('Cat modified successfully');
                } else {
                    alert('Error modifying cat: ' + JSON.stringify(response.errors));
                }
            },
            error: function (error) {
                console.log(error)
                alert('Error modifying cat');
            }
        });
    });

    function updateCatRow(cat) {
        var catButtonHtml = '<button class="btn d-flex my-auto justify-content-xl-start cat-btn" data-cat-id="' + cat.catId.replace(/-/g, '') + '" type="button" style="width: 100%;">' + cat.name + '<i class="fas fa-cat fs-4" style="margin-left: 10px;"></i></button>';
        // Find the existing cat row and update its contents
        $(".cat-btn[data-cat-id='" + cat.catId.replace(/-/g, '') + "']").closest('td').html(catButtonHtml);
    }
</script>



{% endblock %}