{% extends "baseProfil.html" %}{% block title %}profil{% endblock title %} {% load static %} {% block content %}

<script>
    function edit(id, value) {
        document.getElementById(id).innerHTML=`
            <form action="" method="post" >
            {% csrf_token %}
                <input type="text" name=${ id } value="${ value }"/>
                <input type="submit" value="save"/>
            </form>
            `
    }

    function saved(id, value) {
        document.getElementById(id).innerHTML=`
            ${value}
            <button onclick="edit(this.parentNode.id)">edit</button>
            `
    }

    function confirm(){

        if (document.getElementById("confirm").style.visibility == "hidden"){
            document.getElementById("confirm").style="visibility: visible"}
        else{
            document.getElementById("confirm").style="visibility: hidden"
        }
    }



</script>



<div id="username">
    {{ user.username }}
    <button onclick="edit(this.parentNode.id,'{{ user.username }}')">edit</button>
</div>

<div id="first_name">
    {{ user.first_name }}
    <button onclick="edit(this.parentNode.id,'{{ user.first_name }}')">edit</button>
</div>

<div id="last_name">
    {{ user.last_name }}
    <button onclick="edit(this.parentNode.id,'{{ user.last_name }}')">edit</button>
</div>

<div id="email">
    {{ user.email }}
    <button onclick="edit(this.parentNode.id,'{{ user.email }}')">edit</button>
</div>

<button onclick="confirm()">Delete account</button>

<div id="confirm" style="visibility: hidden">

    <form action="" method="post" >
        {% csrf_token %}
        <input type="hidden" name="deleteAccount"/>
        <input type="submit" value="Confirm"/>
    </form>

</div>



{% endblock %}