{% extends "baseProfil.html" %} {% load static %} {% block content %}

<script>
    function edit(id, value) {
        document.getElementById(id).innerHTML=`
            <form method="post" id="form${id}" class="paramForm">
            {% csrf_token %}
                <input type="hidden" name="param" value="${id}"/>
                <input type="text" name="value" value="${ value }"/>
                <input type="submit" value="save"/>
            </form>
            `
    }

    function saved(id, value) {
        document.getElementById(id).innerHTML=`
            ${value}
            <button onclick="edit(this.parentNode.id)">edit</button>
            `
    }

    function confirm(){

        if (document.getElementById("confirm").style.visibility == "hidden"){
            document.getElementById("confirm").style="visibility: visible"}
        else{
            document.getElementById("confirm").style="visibility: hidden"
        }
    }



</script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script type="text/javascript">
    $(document).on('submit','.paramForm',function(e){
        console.log("a")
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "profile" %}',
            data:
            {
                param:$('input[name="param"]').val(),
                value:$('input[name="value"]').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(response){
                  alert(response.message);
                    },
            error: function () {
                alert("Déjà pris");
            }
            })
        });
    </script>



<div id="username">
    {{ user.username }}
    <button onclick="edit(this.parentNode.id,'{{ user.username }}')">edit</button>
</div>

<div id="first_name">
    {{ user.first_name }}
    <button onclick="edit(this.parentNode.id,'{{ user.first_name }}')">edit</button>
</div>

<div id="last_name">
    {{ user.last_name }}
    <button onclick="edit(this.parentNode.id,'{{ user.last_name }}')">edit</button>
</div>

<div id="email">
    {{ user.email }}
    <button onclick="edit(this.parentNode.id,'{{ user.email }}')">edit</button>
</div>

<button onclick="confirm()">Delete account</button>

<div id="confirm" style="visibility: hidden">

    <form action="" method="post" >
        {% csrf_token %}
        <input type="hidden" name="deleteAccount"/>
        <input type="submit" value="Confirm"/>
    </form>

</div>



{% endblock %}